body {
  margin-top: 20px;
  background: #222222;
  color: #FFFFFF
}

.jumbotron {
  background: none;
  margin-top: 50px;
}

.welcome {
  margin-top: 140px;
  text-align: center;
}

.note-card {
  float: left;
  margin: 10px;
}

nav {
  background: none;
  border: 1px solid #454646;
}

hr {
  background: #454646;
}

button {
  border-radius: 0px;
  width: 12%;
  padding: 5px;
  margin-right: 5px;
}

.btn-primary {
  border-radius: 0px;
  margin-top: -4px;
  padding: 4px 20px;
}

small {
  color: #5f5d5d;
  font-size: 17px;
}

.navbar-header {
  width: 50%;
}

.navbar-nav {
  display: contents;
}

.nav-item {
  margin: 0px 10px;
  padding: 0px 10px;
}

.has-error {
  border: 1px solid coral;
}

textarea,
input {
  width: 100%;
  background: none;
  color: white;
  padding: 10px;
}

.card {
  background: none;
  border: 1px solid grey;
}

label {
  width: 100%
}

warning {
  color: red;
}