<header>
  <nav class="navbar navbar-default row">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">The NoteBook</a>
    </div>

    <ul class="nav navbar-nav navbar-right nav-pills nav-fill">
      <li class="nav-item">
        <a ui-sref="home">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a ui-sref="notes">
          <i class="fas fa-sticky-note"></i> Notes
        </a>
      </li>
      <li class="nav-item">
        <a ui-sref="logout">
          <i class="fas fa-sign-out-alt"></i> Log Out
        </a>
      </li>
    </ul>
  </nav>
</header>