<div class="jumbotron">
  <!-- Display note -->
  <div ng-hide="edit">
    <h3>{{ note.title | uppercase }}</h3>
    <hr>
    <p class="lead" marked="note.content"> {{ note.content}}</p>
    <br> <br>
    <button class="btn btn-primary btn-lg" ng-click="toggleEdit()">Edit</button>
    <button class="btn btn-primary btn-lg" ng-click="delete(note._id)">Delete</button>
  </div>
  <!-- Edit note -->
  <form ng-show="edit" name="editForm" class="form-group" novalidate>
    <label>Title</label><i class="warning">*</i>
    <input ng-model="note.title" name="title" required> <br><br>
    <label>Content:</label><i class="warning">*</i> <small> #header, ****bold****, *italics* / _italics_, ~~strike~~  ,- list</small>
    <textarea ng-model="note.content" name="content" required></textarea> <br><br>
    <button class="btn btn-primary btn-lg" ng-click="toggleEdit()">Cancel</button>
    <button class="btn btn-lg" ng-class="{'btn-primary': !editForm.$invalid, 'btn-secondary': editForm.$invalid}" ng-disabled="editForm.$invalid" ng-click="save(note)">Save</button>
  </form>
</div>